/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* global fonts */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* text center */

.text-center {
    text-align: center;
}


/* navigation styles */

.top {
    display: flex;
    justify-content: center;
    background-color: #FFF7F4;
    padding-top: 10px;
}

.container {
    width: 1178px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 186px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-right: 29px;
    color: black;
}

.btn {
    border: 1px solid rgb(112, 112, 112);
    padding: 2px 30px;
    border-radius: 20px;
}


/* banner design  */

.banner {
    align-items: center;
}

.banner h1 {
    font-size: 48.83px;
    line-height: 73.2px;
}

.banner h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7B7B7B, 100%;
}

.banner-btn {
    margin-top: 30px;
}

.banner-btn :hover {
    background-color: #000;
}

.banner a {
    text-decoration: none;
    padding: 8px 30px;
    background-color: coral;
    color: #FFF7F4;
    border-radius: 10px;
    font-weight: 500;
    transition: .4s;
}


/* service section */

.service {
    padding-top: 120px;
}

hr {
    width: 20px;
    border-top: 2px solid orange;
}

.text-between {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: Orange;
}

.text-between h6 {
    padding: 0 5px;
    padding-bottom: 8px;
}

.service h2 {
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    padding-bottom: 30px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 370px;
    height: 300px;
    -webkit-box-shadow: 5px 5px 15px 5px #A0A0A0;
    box-shadow: 5px 5px 15px 5px #A0A0A0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.service-card img {
    width: 80px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.service-card-top {
    display: flex;
    justify-content: space-between;
}

.service-card-top h1 {
    font-size: 64px;
    line-height: 73.2px;
    font-weight: 600;
    color: #EFEFEF;
    padding-right: 10px;
}

.service-card-info {
    padding-left: 40px;
}

.service-card-info h4 {
    padding-bottom: 5px;
}

.service-card-info h6 {
    padding-bottom: 15px;
}

.service-card-info p {
    padding-bottom: 20px;
}


/* About section  */

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.about-left {
    width: 491px;
}

.about-left-top {
    display: flex;
    align-items: center;
}

.about-left-top h6 {
    margin-right: 5px;
    color: orange;
}

.about-left h2 {
    padding-top: 15px;
    font-weight: 600;
    font-size: 49.06px;
    line-height: 58.59px;
    padding-bottom: 20px;
}

.about-left p {
    color: #7B7B7B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about-list-items {
    display: flex;
    padding-top: 10px;
    line-height: 24px;
    align-items: center;
}

.about-list-items h6 {
    font-size: 16px;
}

.fa-check-circle {
    color: orange;
    margin-right: 5px;
    font-size: 16px;
}